.toolbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-top: 32px;
  margin-bottom: 100px;

  .logo {
    display: flex;
    font-weight: 900;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.02em;

    span:first-child {
      background-color: #EE6C0E;
      color: #FFFFFF;
      padding-left: 4px;
    }
  }

  ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      align-items: center;
      .link {
        font-size: 18px;
        line-height: 21px;
        color: #000000;
        text-decoration: none;
        margin-right: 60px;
      }

      .btn {
        background: #000000;
        border-radius: 4px;
        text-decoration: none;
        height: 24px;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
        padding: 6px 36px;
      }
    }
  }
}
