@import './../../common';

main {
  @include breakpoint(mobile) {
    max-width: 100vw;
  }
}


.hero {
  display: flex;
  align-items: center;

  @include breakpoint(mobile) {
    flex-direction: column;
    padding: 0 16px;

    svg {
      width: 100% !important;
    }

    &__text {
      p {
        font-size: 16px !important;
        line-height: 19px !important;
        letter-spacing: 0.16em;
      }
      h1 {
        font-size: 32px !important;
        line-height: 44px !important;
        letter-spacing: 0.02em;
      }
    }
  }

  &__text {
    h1 {
      font-weight: bold;
      font-size: 64px;
      line-height: 82px;
      color: #000000;
      max-width: 642px;

      span {
        color: #ee6c0e;
      }
    }

    p {
      font-size: 20px;
      line-height: 23px;
      color: #333333;
    }
  }
}

.social {
  display: flex;
  margin-top: 36px;
  margin-bottom: 250px;

  svg {
    margin-right: 24px;
  }
}

.adequate_cost {
  font-size: 40px;
  line-height: 47px;
  font-weight: bold;
  color: #ffffff;
  height: 63px;
  background: #000000;

  @include breakpoint(mobile) {
    font-size: 32px !important;
    line-height: 44px !important;
    letter-spacing: 0.02em !important;
    background: none !important;
    color: #000000 !important;
    margin: 0 16px;
  }
}

.slider {
  width: 100%;
  margin-top: 42px;
  margin-bottom: 180px;

  @include breakpoint(mobile) {
    width: calc(100% - 32px);
    padding: 0 16px;
    img {
      width: 100% !important;
    }

    .navigation {
      display: none !important;
    }
  }

  img {
    width: 482px;
    height: auto;
  }

  .navigation {
    margin-top: 60px;
    text-align: center;

    &-buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      button {
        background: none;
        outline: none;
        border: 0;
        cursor: pointer;
        display: flex;
        align-items: center;

        &:first-of-type {
          margin-right: 60px;
          margin-left: 260px;
        }

        &:last-of-type {
          display: flex;
          align-items: center;
          font-size: 18px;
          line-height: 21px;
          color: #333333;
          margin-left: 100px;
        }
      }
    }
  }
}
